<header class="site-header" role="banner">

  <div class="wrapper">

    <a class="site-title" href="{{ "/" | relative_url }}">
      <img class="logo" src="/assets/logo_24x24.svg" alt="vleong2332" />
    </a>

    <nav class="site-nav">
      <input id="menu-toggle" class="menu-toggle" type="checkbox" onchange="disableScrollOnBody(this)"/>

      <label for="menu-toggle">
        <span class="menu-icon">
          <svg viewBox="0 0 18 15" width="18px" height="15px">
            <line stroke="#FFF" stroke-width="3" x1="0" y1="1.5" x2="18" y2="1.5" />
            <line stroke="#FFF" stroke-width="3" x1="0" y1="7.5" x2="18" y2="7.5" />
            <line stroke="#FFF" stroke-width="3" x1="0" y1="13.5" x2="18" y2="13.5" />
          </svg>
        </span>
      </label>

      <div class="trigger">
        {% include page_list.html %}
      </div>
    </nav>

  </div>

</header>
