<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="site-map-list">
          {% for my_page in site.pages %}
            {% if my_page.title %}
            <li>
              <a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
            </li>
            {% endif %}
          {% endfor %}
          <li><a class="page-link" href="#">Resume</a></li>
          <li><a class="page-link" href="#">Contact</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="contact-list">
          <li>
            {% if site.author %}
              {{ site.author | escape }}
            {% else %}
              {{ site.title | escape }}
            {% endif %}
            </li>
            {% if site.email %}
            <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {% endif %}
            {% if site.phone %}
            <li>{{ site.phone | escape }}</li>
            {% endif %}
            {% if site.github_username %}
            <li class="social-media">
              {% include icon-github.html username=site.github_username %}
            </li>
            {% endif %}
            {% if site.twitter_username %}
            <li class="social-media">
              {% include icon-twitter.html username=site.twitter_username %}
            </li>
            {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>

  </div>

</footer>
