<section class="hero">
  <div class="content-wrapper">
    <h1 class="title">
      {{ site.data.hero.title }}
    </h1>
    <h2 class="subtitle">
      {{ site.data.hero.subtitle }}
    </h2>
    <a class="btn-primary" role="button">
      {{ site.data.hero.actionButtons.primary.text }}
    </a>
    <a class="btn-hollow" role="button" href="">
      {{ site.data.hero.actionButtons.secondary.text }}
    </a>
  </div>

  <!--
  Bubbles

  Must have one of data-bottom-right || data-bottom-left || data-top-right ||
  data-top-left. Value is 2 integers || percentage separated by a space.

  Must have data-inner-ring with color hex || name as value.

  Must have data-outer-ring with color hex || name as value.

  Can have data-center with color hex || name as value. Defaults to inherit.
  -->
  <div class="bubble"
       data-bottom-right="-20% -6%"
       data-bubble="180px #00776B"
       data-ring="92% #22C4B4"
       data-center="80% #00A99D"
  ></div>
  <div class="bubble"
       data-bottom-right="20% 5%"
       data-bubble="90px #00776B"
       data-ring="88% #04B59B"
       data-center="50% #00A99D"
  ></div>
  <div class="bubble"
       data-bottom-right="-8% 12%"
       data-bubble="150px #00776B"
       data-ring="90% #00D8BE"
       data-center="72% #00A99D"
  ></div>
  <div class="bubble"
       data-bottom-right="38% 14%"
       data-bubble="80px #00776B"
       data-ring="80% #00D8BE"
       data-center="50% #00A99D"
  ></div>
  <div class="bubble"
       data-bottom-right="60% 5%"
       data-bubble="75px #00776B"
       data-ring="88% #00D8BE"
       data-center="72% #00A99D"
  ></div>
  <div class="bubble"
       data-bottom-right="55% 9%"
       data-bubble="80px #00776B"
       data-ring="95% #22C4B4"
       data-center="35% #00A99D"
  ></div>
  <div class="bubble"
       data-top-right="5% 2%"
       data-bubble="40px #00776B"
       data-ring="90% #04B59B"
       data-center="55% #00A99D"
  ></div>
</section>
