<section class="hero">
  <div class="wrapper">
    <h1 class="title">
      {{ site.data.hero.title }}
    </h1>
    <h2 class="subtitle">
      {{ site.data.hero.subtitle }}
    </h2>
    <a class="btn-primary" role="button" onclick="smoothScrollTo('.profile')">
      {{ site.data.hero.actionButtons.primary.text }}
    </a>
    <a class="btn-hollow" role="button" href="/assets/files/resume_vicky_leong_4.pdf" target="_blank">
      {{ site.data.hero.actionButtons.secondary.text }}
    </a>
  </div>
  <ul class="contact-list">
    {% if site.linkedin_username %}
    <li class="social-media">
      {% include icon-linkedin.html username=site.linkedin_username showUsername=false %}
    </li>
    {% endif %}
    {% if site.github_username %}
    <li class="social-media">
      {% include icon-github.html username=site.github_username showUsername=false %}
    </li>
    {% endif %}
    {% if site.twitter_username %}
    <li class="social-media">
      {% include icon-twitter.html username=site.twitter_username showUsername=false %}
    </li>
    {% endif %}
    {% if site.dribbble_username %}
    <li class="social-media">
      {% include icon-dribbble.html username=site.dribbble_username showUsername=false %}
    </li>
    {% endif %}
  </ul>
</section>
