<section class="skills">
  <a class="anchor"></a>
  <div class="wrapper">

    <div class="section-header">
      <h1>{{ site.data.skills.title }}</h1>
      <div class="tooltip legend">
        ?
        <div class="tooltip-content skill-group">
          <div class="skill conf">
            <p>Confident</p>
          </div>
          <div class="skill comf">
            <p>Comfortable</p>
          </div>
          <div class="skill dab">
            <p>Dabbled</p>
          </div>
        </div>
      </div>
    </div>

    {% for skill in site.data.skills.skills %}
      <div class="category">
        <h3 class="category-title">{{ skill.category }}</h3>
        <div class="skill-group">
          {% for item in skill.items %}
            <div class="skill {{ item.level }}">
              <p>{{ item.name }}</p>
            </div>
          {% endfor %}
        </div>
      </div>
    {% endfor %}

  </div>
</section>
