<section class="work">
  <div class="wrapper">
    <div class="project-wrapper wa"><h2>Wycliffe<br />Associates</h2></div>
    <div class="project-wrapper port"><h2>PORT</h2></div>
    <div class="project-wrapper td"><h2>translation<br />Database</h2></div>
    <div class="project-wrapper tr"><h2>translation<br />Recorder</h2></div>
    <div class="project-wrapper ts"><h2>translation<br />Studio</h2></div>
    <div class="project-wrapper bt"><h2>bibletechs</h2></div>
    <div class="project-wrapper tl"><h2>Thinkful Time Logger</h2></div>
    <div class="project-wrapper fb"><h2>Flapby Bird</h2></div>
  </div>
</section>
