$primary-color: #00A99D;
$primary-color-dark: #00766A;

$secondary-color-light: #995FC3;
$secondary-color: #662D91;
$secondary-color-dark: #330A60;

$tertiary-color-light: #FEE36E;
$tertiary-color: #FBB03B;
$tertiary-color-dark: #C88008;

$light-text: #FFF;
$dark-text: #333;

$xl-screen: 1200px;
$l-screen: 1024px;
$m-screen: 768px;
$s-screen: 480px;
$xs-screen: 320px;

$nav-height: 56px;

$max-z-index: 1000;

@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900|Roboto+Slab:400,700|Oswald:600');

/* Import partials.*/
@import
  "site/base",
  "site/header",
  "site/hero",
  "site/profile",
  "site/skills",
  "site/experience",
  "site/footer",

  "site/default",
  "site/work",
  "site/projects/base",
  "site/about",
  "site/contact"
;
