html, body {
  height: 100%;
}
body, button {
  font-family: 'Lato', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif;
}
h1 {
  font-size: 2.75rem;
}
h2 {
  font-size: 2rem;
}

body > section:first-of-type {
  padding-top: $nav-height;
}

.wrapper {
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  margin-right: 0;
  margin-left: 0;
}

*[role="button"] {
  border: 1px solid transparent;
  border-radius: 2px;
  padding: 0.35rem 0.85rem;
  font-size: 1.25rem;
  color: $light-text;
  cursor: pointer;
  background: inherit;
  box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.15);
  transition: all 222ms ease;

  &:hover {
    text-decoration: none;
    color: $light-text;
    box-shadow: none;
  }

  &.btn-primary {
    border-color: $tertiary-color;
    background-color: $tertiary-color;
    color: $light-text;
  }

  &.btn-primary:hover{
    border-color: $tertiary-color-dark;
    background-color: $tertiary-color-dark;
    color: $light-text;

  }

  &.btn-hollow {
    border-color: #FFF;
    background-color: transparent;
  }

  &.btn-hollow:hover {
    background-color: rgba(0, 0, 0, 0.15);
  }
}

a[role="button"]:visited {
  color: $light-text;
}

.hidden {
  display: none;
}

.no-scroll {
  overflow: hidden;
}

.flex-h {
  display: flex;
  flex-direction: row;
}

.flex-v {
  display: flex;
  flex-direction: column;
}


// Override theme style
.site-header {
  border-top-width: 0px;
  border-bottom-width: 0px;
}
.site-footer {
  background-color: #333;
  color: #FFF;
}


// Generic media queries
@media screen and (min-width: $m-screen) {
  h1 {
    font-size: 3.25rem;
  }
  h2 {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: $l-screen) {
  h1 {
    font-size: 3.75rem;
  }
  h2 {
    font-size: 3rem;
  }
}

@media screen and (min-width: $xl-screen) {
  h1 {
    font-size: 4.25rem;
  }
  h2 {
    font-size: 3.5rem;
  }
}


// @import 'alt_home';
// @import 'hero';
// @import 'header';
// @import 'welcome';
// @import 'profile';
// @import 'skills';
// @import 'work';
// @import 'experience';
