.experience {
  padding-top: 6rem;
  padding-bottom: 6rem;

  .wrapper {
    overflow-x: hidden;
  }

  .section-title {
    text-align: center;
    margin-bottom: 3rem;
  }

  .timeline {
    box-sizing: border-box;
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: visible;
    position: relative;
    left: calc(-50% + 30px);
    -webkit-transition: all 222ms ease-in-out;
    transition: all 222ms ease-in-out;
  }

  .timeline-node {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    box-sizing: border-box;
    width: 60px;
    height: 60px;
    background-color: #333;
    border-radius: 50%;
    border: 5px solid #AAA;
    margin-left: 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #FFF;
    position: relative;
    cursor: pointer;

    &::after {
      content: '';
      display: block;
      width: 5rem;
      height: 5px;
      background-color: #EEE;
      position: absolute;
      left: calc(100% + 5px);
      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
    }

    &:first-of-type::after {
      visibility: hidden;
    }

    &.present {
      background-color: $primary-color-dark;
      border-color: $primary-color;

      &::after {
        /* background-color: transparent;*/
      }

    }

    &.future {
      background-color: transparent;
      border-color: #EEE;
      color: #111;
      font-weight: bold;
    }
  }

  .detail {
    width: 90%;
    margin: 0 auto;
    min-height: 200px;
    background-color: #EEE;
    margin-top: 3rem;
    position: relative;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 0.5rem;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

    @media all and (min-width: $s-screen), (max-with: $m-screen) {
      width: 75%;
    }

    @media all and (min-width: $m-screen) {
      width: 50%;
    }

    &::before {
      content: '';
      display: block;
      height: 0px;
      width: 0px;
      border-width: 2rem 1.5rem;
      border-style: solid;
      border-color: transparent transparent #EEE transparent;
      position: absolute;
      top: -4rem;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
    }

    .present {
      color: $primary-color;
    }

    .job-title,
    .job-company,
    .job-location,
    .job-duration {
      margin-bottom: 0;
    }

    .future {
      .job-company {
        margin-bottom: 2rem;
      }
    }
  }

}
