.site-header {
  background-color: $primary-color;
  position: fixed;
  width: 100%;
  height: $nav-height;
  z-index: $max-z-index;
  -webkit-transition: box-shadow 333ms ease;
  transition: box-shadow 333ms ease;

  &.shadow {
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.25);
  }

  .site-title {
    font-size: initial;
    font-weight: initial;
  }

  .wrapper {
    margin: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
    max-width: 100%;
  }

  .site-nav {
    background-color: transparent;
    border: none;

    @media screen and (max-width: 600px) {
      .trigger {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.85);
        top: -100%;
        left: 0;
        text-align: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding-bottom: 0;
        -webkit-transition: top 150ms ease-in-out;
        transition: top 150ms ease-in-out;
      }

      .page-link {
        margin-left: 0;
        margin-top: 0.15rem;
        margin-bottom: 0.15rem;
      }

      .page-list-item {
        margin-left: 0;
      }
    }

  }

  .menu-icon {
    cursor: pointer;
    position: relative;
    z-index: $max-z-index;

    svg line:first-child {
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-transform: translateY(0) rotate(0deg);
              transform: translateY(0) rotate(0deg);
      -webkit-transition: -webkit-transform 150ms ease-in-out;
      transition: -webkit-transform 150ms ease-in-out;
      transition: transform 150ms ease-in-out;
      transition: transform 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
    }

    svg line:last-child {
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-transform: translateY(0) rotate(0deg);
              transform: translateY(0) rotate(0deg);
      -webkit-transition: -webkit-transform 150ms ease-in-out;
      transition: -webkit-transform 150ms ease-in-out;
      transition: transform 150ms ease-in-out;
      transition: transform 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
    }

  }

  .logo {
    width: 24px;
    height: 24px;
  }

  .menu-toggle {
    display: none;

    &:checked ~ .trigger {
      top: 0%;
    }

    &:checked ~ label .menu-icon svg {

      line:first-child {
        -webkit-transform: translateY(6px) rotate(45deg);
                transform: translateY(6px) rotate(45deg);
      }

      line {
        display: none;
      }

      line:first-child,
      line:last-child {
        display: block;
      }

      line:last-child {
        -webkit-transform: translateY(-6px) rotate(-45deg);
                transform: translateY(-6px) rotate(-45deg);
      }

    }
  }

  .page-list-item {
    list-style: none;
    display: inline;
    margin-left: 1rem;

    &:first-of-type {
      margin-left: 0;
    }
  }

  .page-link {
    color: $light-text;
    -webkit-transition: color 250ms ease;
    transition: color 250ms ease;

    &:hover {
      text-decoration: none;
      color: $tertiary-color;
    }

  }
}
