.hero {
  width: 100%;
  height: calc(100vh - 56px);
  min-height: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: $primary-color;
  color: $light-text;
  position: relative;
  overflow: hidden;

    .title {
      font-weight: bold;
      margin-bottom: -8px;
    }

    .subtitle {
      margin-bottom: 2rem;
    }

    .btn {
      margin-bottom: 0.5rem;
    }

    .btn-hollow {
      margin-left: 0.5rem;
    }

    .bubble {
      position: absolute;
    }
}
