.profile {
  padding-top: 7rem;
  padding-bottom: 7rem;
  box-sizing: border-box;
  position: relative;

  .anchor {
    position: absolute;
    top: -$nav-height;
  }

  h1 {
    text-align: center;
    margin-bottom: 3rem;
  }

  .wrapper {
    max-width: 100%;
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .profile-block {
    text-align: center;
    margin-bottom: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    box-sizing: border-box;

    &:last-child {
      margin-bottom: 0;
    }

    .profile-block-icon {
        display: block;
        width: 100px;
        height: 100px;
        margin: 0 auto 2rem auto;
    }

    /* h3, p {*/
    /*   color: #888;*/
    /* }*/

    &:hover {
      .profile-block-icon {
        -webkit-filter: saturate(2);
                filter: saturate(2);
      }
      /* h3, p {*/
      /*   color: #111;*/
      /* }*/
    }

    @media all and (min-width: 600px) {
      width: 33.33%;
      display: inline-block;
      float: left;
      margin-bottom: 0;

      &::after {
        content: "";
        display: table;
        clear: both;
      }
    }

  }
}
