.welcome {
  min-height: 320px;
  height: calc(100% - 56px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  // border-bottom: 1px solid #E0E0E0;
  // padding-top: 7rem;
  // padding-bottom: 7rem;
  .wrapper {
    max-width: 100%;
    @media screen and (min-width: $m-screen) {
      max-width: 75%;
    }
    @media screen and (min-width: $l-screen) {
      max-width: 60%;
    }
    @media screen and (min-width: $xl-screen) {
      max-width: 50%;
    }
  }
  .block {
    flex: 1 1 auto;
    height: 100%;
    background-color: $primary-color-dark;
    background-image: url('../../assets/welcome.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom center;
  }
}

.welcome-pic {
  padding-top: 3rem;
  background-color: $primary-color;
  img {
    width: 33.33%;
    margin-left: auto;
  }
}
