.welcome {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: $primary-color-dark;
  position: relative;
  color: #FFF;

  .anchor {
    position: absolute;
    top: -$nav-height;
  }

  @media all and (min-width: 600px) {
    .wrapper {
      max-width: 66.66%;
    }
  }

}
