.work {
  position: relative;

  .anchor {
    position: absolute;
    top: -$nav-height;
  }

  .wrapper {
    margin: 0;
    padding: 0;
  }

  .project-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
  }

  .project-detail {
    padding: 1rem;
  }

  .project-wrapper {
    flex: 1 1 33.33%;
    min-width: 320px;
    height: 300px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border: none;
    color: rgba(255, 255, 255, 0.85);
    text-align: center;
    padding: 1rem;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: color 222ms ease;

    a {
      font-size: 2rem;
      color: #FFF;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
      position: relative;
    }

    h2 {
      font-size: 2rem;
      transition: font-size 222ms ease;
    }

    &::before {
      content: "";
      display: block;
      clear: both;
      position: absolute;
      top: 0;
      // left: 66.66%;
      left: 50%;
      transform: skewX(45deg);
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.25);
      transition: left 222ms ease, transform 222ms ease;
    }

    &:hover {
      a {
        color: #FFF;
        text-decoration: none;
      }
      h2 {
        font-size: 2.25rem;
      }
      &::before {
        left: 60%;
      }
    }

  }

  .port {
    background-color: rgba(0, 32, 80, 0.75);
  }

  .translation-database {
    background-color: rgba(0, 0, 0, 0.75);
  }

  .translation-recorder-app,
  .translation-recorder-web {
    background-color: rgba(194, 24, 91, 0.75);
  }

  .wycliffe-associates {
    background-color: rgba(101, 98, 84, 0.75);
  }

  .translation-studio {
    background-color: rgba(0, 169, 157, 0.75);
  }

  .bible-techs {
    background-color: rgba(163, 75, 57, 0.75);
  }

  .thinkful-time-logger {
    background-color: rgba(52, 118, 255, 0.75);
  }

  .flapby-bird {
    background-color: rgba(76, 61, 70, 0.75);
  }

}
