.work {
  .wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
  }

  .project-wrapper {
    flex: 1 1 33.33%;
    min-width: 320px;
    height: 300px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border: none;
    color: rgba(255, 255, 255, 0.85);
    text-align: center;
    padding: 1rem;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: color 222ms ease;

    h2 {
      font-size: 2rem;
      transition: font-size 222ms ease;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
      position: relative;
    }

    &::before {
      content: "";
      display: block;
      clear: both;
      position: absolute;
      top: 0;
      left: 66.66%;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.25);
      transition: left 222ms ease, transform 222ms ease;
    }

    &:hover {
      color: #FFF;
      h2 {
        font-size: 2.5rem;
      }
      &::before {
        left: 33.33%;
      }
    }

  }

  .port {
    // background-image: url('../assets/port_bg.png');
    background-color: rgba(0, 32, 80, 0.75);
  }

  .td {
    // background-image: url('../assets/td_bg.png');
    background-color: rgba(0, 0, 0, 0.75);
  }

  .tr {
    // background-image: url('../assets/tr_bg.png');
    background-color: rgba(194, 24, 91, 0.75);
  }

  .wa {
    background-color: rgba(101, 98, 84, 0.75);
  }

  .ts {
    background-color: rgba(0, 169, 157, 0.75);
  }

  .bt {
    background-color: rgba(163, 75, 57, 0.75);
  }

  .tl {
    background-color: rgba(52, 118, 255, 0.75);
  }

  .fb {
    background-color: rgba(76, 61, 70, 0.75);
  }

}
