---
layout: base
comments: true
---

<div class="project-detail {{ page.rootClass }}">
  <div class="page-header">
    <h1 class="project-title">{{ page.title | escape }}</h1>
    <h3 class="project-tech-stack">{{ page.techStack | escape }}</h3>
  </div>
  <div class="page-content">
    <div class="wrapper">
      {{ content }}
      <div class="action-links">
        <a class="action-btn btn-primary" role="button" href="/index.html#projects" />See more projects</a>
        <a class="action-btn btn-primary" role="button" href="/contact/" />Say hello</a>
      </div>
    </div>
  </div>
</div>
